<h1>welcome</h1>

<% if @photos.any? %>
  <h2>Last published photos</h2>
  <% @photos.each do |photo| %>
    <img src=<%= photo.url %> alt=<%= photo.name %> height='150'>
  <% end %>
<% else %>
  <p>Be the first to post a photo</p>
<% end %>