<% content_for :title do %>
  Welcome to Frikr - with Flickr, but at friki
<% end %>

<h1>welcome</h1>

<% if @photos.any? %>
  <h2>Last published photos</h2>
  <%= render 'photos/photos_loop' %>
<% else %>
  <p>Be the first to post a photo</p>
<% end %>